@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts/TWKLausanne-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TWKLausanne";
  src: url("./assets/fonts/TWKLausanne-550.woff2") format("woff2");
  font-weight: 550;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("./assets/fonts/ibm-plex-mono-latin-400-normal.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --failed-border: #ff6682;
  --failed-color: #99001c;
  --failed-bg: #ffccd5;
  --failed-icon-bg: #99001c;

  --pending-color: #994000;
  --pending-bg: #ffe1cc;

  --success-icon-bg: #178235;
  --success-bg: #ceffdc;
  --success-color: black;
  --success-border: #475569;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 16px;

  font-family: "TWKLausanne", serif;
  box-sizing: border-box;
  background-color: #000;
  color: white;
  a {
    color: white;
  }
}

.verified-bg {
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(237deg, #76b900 0%, #2b7e00 68.13%);
}

.all-verified .verified-bg {
  opacity: 1;
}

.App {
  text-align: center;
  background: black;
}

.risc-zero-journal-parser-journal-raw {
  height: 80px;
}

.risc-zero-journal-parser-statement-markdown {
  padding: 24px;
  text-align: left;
}

.risc-zero-verifier-main {
  font-family: Arial, sans-serif;
  max-width: 75%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  display: grid;
  gap: 10px;
  grid-template-columns: 1fr auto 1fr;
  /* justify-items: center; Center items horizontally */
  align-items: center; /* Center items vertically */
  grid-template-areas:
  /* i: intro */
  /* g: guest id */
  /* a: animation */
  /* r: receipt */
  /* b: button */
  /* v: verified result */
    "i i i"
    "g a r"
    ". b ."
    "v v v";

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-grow: 0;
    height: 33px;

    border: 0;
    border-radius: 0;

    background: black;
    color: white;
    border: 1px solid white;
  }

  input[type="text"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid white;

    box-sizing: border-box;
    margin-bottom: 10px;
    cursor: pointer;
  }
  input:disabled {
    color: white;
  }
  textarea {
    border: 2px solid var(--success-border);
  }
}
.risc-zero-verifier-instructions-container {
  grid-area: i;
}
.risc-zero-verifier-guest-code-id-container {
  grid-area: g;
  color: black;
  label {
    color: white;
  }
}
.risc-zero-verifier-verification-animation-container {
  grid-area: a;
  display: grid;
  place-items: center;
  padding: 20px;
}
.risc-zero-verifier-verification-animation {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.App.is-verified .risc-zero-verifier-verification-animation {
  background-color: var(--success-icon-bg);
  background-image: url('data:image/svg+xml,<svg  viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M47.8824 16.4516H52.1176C56.7958 16.4516 60.5882 20.2644 60.5882 24.9677V35H39.4118V24.9677C39.4118 20.2644 43.2042 16.4516 47.8824 16.4516ZM32 35V24.9677C32 16.149 39.1108 9 47.8824 9H52.1176C60.8892 9 68 16.149 68 24.9677V35H71C74.3137 35 77 37.6863 77 41V79C77 82.3137 74.3137 85 71 85H29C25.6863 85 23 82.3137 23 79V41C23 37.6863 25.6863 35 29 35H32ZM57 60C57 63.866 53.866 67 50 67C46.134 67 43 63.866 43 60C43 56.134 46.134 53 50 53C53.866 53 57 56.134 57 60Z" fill="white"/></svg>');
}
.App.is-unverified .risc-zero-verifier-verification-animation {
  background-color: var(--failed-icon-bg);
  background-image: url('data:image/svg+xml,<svg  viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M85 50C85 69.3301 69.3281 85 50 85C30.6719 85 15 69.3301 15 50C15 30.6699 30.6719 15 50 15C69.3281 15 85 30.6699 85 50ZM64.1406 73.0066C60.0312 75.5391 55.1875 77 50 77C35.0859 77 23 64.9116 23 50C23 44.8149 24.4609 39.9712 26.9922 35.8584L64.1406 73.0066ZM70.9297 67.063L32.9375 29.0715C37.5859 25.2761 43.5312 23 50 23C64.9141 23 77 35.0884 77 50C77 56.4719 74.7266 62.4121 70.9297 67.063Z" fill="white"/></svg>');
}

.risc-zero-verifier-receipt-file-input-container {
  grid-area: r;
}
.risc-zero-verifier-verify-button-container {
  grid-area: b;
  display: grid;
  place-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.risc-zero-verifier-receipt-verification-result {
  grid-area: v;
}

.risc-zero-verifier-instructions-container {
  margin-bottom: 50px;
  border: 1px solid white;
  padding: 0px 20px;
}

/* .risc-zero-verifier-guest-code-id-container, */
.risc-zero-verifier-guest-code-id-select-container,
.risc-zero-verifier-receipt-input-container {
  margin-bottom: 40px;
}

.risc-zero-verifier-receipt-json-input-container textarea {
  height: 100px;
  resize: vertical;
}

.risc-zero-verifier-receipt-verification-result {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.risc-zero-verifier-receipt-verification-result-verified {
  background-color: var(--success-bg);
  color: var(--success-color);
}

.risc-zero-verifier-receipt-verification-result-unverified {
  background-color: var(--failed-bg);
  color: var(--failed-color);
}

.risc-zero-verifier-receipt-verification-result-message {
  margin-bottom: 20px;
  font-size: 30px;
}

.risc-zero-journal-parser-main {
  /* font-family: Arial, sans-serif; */
  max-width: 800px;
  margin: auto;
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 10px;
  }
  select {
    padding: 8px;
    border: 1px solid white;
    /* border-radius: 4px; */
    box-sizing: border-box;
    margin-bottom: 10px;
  }
}

.risc-zero-journal-parser-parser-select-container,
.risc-zero-journal-parser-statement-container,
.risc-zero-journal-parser-journal-json-container,
.risc-zero-journal-parser-journal-raw-container {
  margin-bottom: 20px;
}

.risc-zero-journal-parser-no-parsers-message {
  font-style: italic;
}

.risc-zero-journal-parser-statement-markdown {
  border: 1px solid white;
  padding: 10px;
  background-color: #f9f9f9;

  color: white;
  font-family: "IBM Plex Mono", sans-serif;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  border: 2px solid var(--success-border);

  background: var(--Grey-900, #0f172a);
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.24);
  margin-bottom: 5px;
  padding: 5px;
}

.risc-zero-journal-parser-journal-raw {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  resize: vertical;
  width: 100%;
  color: white;
  font-family: "IBM Plex Mono", sans-serif;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */

  border: 2px solid var(--success-border);

  /* border-radius: 10px; */
  background: var(--Grey-900, #0f172a);
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.24);
  margin-bottom: 5px;
  padding: 5px;
}

.risc-zero-journal-parser-JSONTree {
  border: 2px solid var(--success-border);
  /* border-radius: 4px; */
  padding: 10px;
  background-color: #f9f9f9;
}
.risc-zero-journal-parser-journal-json-container ul {
  background: transparent;
}
.risc-zero-journal-parser-journal-json-container {
}

.risc-zero-journal-parser-journal-json-container > div > h3 + div {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  text-align: left;

  color: white;
  font-family: "IBM Plex Mono", sans-serif;

  border: 2px solid var(--success-border);

  background: var(--Grey-900, #0f172a);
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.24);
  margin-bottom: 5px;
  padding: 15px;

  ul {
    /* overwrite an inline style.... */
    background-color: transparent !important;
  }
}
