.App {
  text-align: center;
}

.risc-zero-journal-parser-journal-raw {
  width: 75%;
  height: 80px;
}
  
.risc-zero-journal-parser-statement-markdown {
  padding: 24px;
  text-align: left;
}


.risc-zero-verifier-main {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

  input[type="text"],
  input[type="file"],
  textarea,
  button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
}

.risc-zero-verifier-instructions-container {
  background-color: lightblue;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  p {
    padding: 0px 20px;
  }
}

.risc-zero-verifier-guest-code-id-container,
.risc-zero-verifier-receipt-input-container,
.risc-zero-verifier-verify-button-container {
  margin-bottom: 20px;
}

.risc-zero-verifier-receipt-json-input-container textarea {
  height: 100px;
  resize: vertical;
}

.risc-zero-verifier-receipt-verification-result {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.risc-zero-journal-parser-main {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 10px;
  }
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
}

.risc-zero-journal-parser-parser-select-container,
.risc-zero-journal-parser-statement-container,
.risc-zero-journal-parser-journal-json-container,
.risc-zero-journal-parser-journal-raw-container {
  margin-bottom: 20px;
}

.risc-zero-journal-parser-no-parsers-message {
  font-style: italic;
}

.risc-zero-journal-parser-statement-markdown {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #f9f9f9;
}

.risc-zero-journal-parser-journal-raw {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  resize: vertical;
}

.risc-zero-journal-parser-JSONTree {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #f9f9f9;
}
